name: build-and-deploy

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:

  # lint:
  #   name: Lint
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #       with:
  #         node-version: 14
  #     - run: npm install -g solhint
  #     - run: solhint 'contracts/**/*.sol'

  compile:
    name: Compile contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Install solc
        run: npm install -g solc
      - name: Compile solidity contracts
        run: solc --abi --bin --overwrite --optimize --optimize-runs 200 --output-dir build/contracts contracts/StoryPass.sol
